.card_container {
  margin: 20px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(212, 234, 234);
  overflow-wrap: break-word;
  margin-bottom: 30px;
  animation: comeIn ease 0.5s;
  animation-iteration-count: 1;
  transition: left .3s ease, top .3s ease;
}

.image {
  position:relative;
  height: 200px;
}


@keyframes comeIn {
  0% { transform: scale(0) }
  75% { transform: scale(1.03) }
  100% { transform: scale(1) }
}