
.my_masonry_grid {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  margin-left: -10px;
  width: auto;
}
.my_masonry_grid_column {
  padding-left: 10px; 
  background-clip: padding-box;
}
