.navbar {
  position: sticky;
  top: 0;
  margin: 0;
  width: 100%;
  height: 3rem;
  box-shadow: 0 2px 4px 0 #00000033;
  background-color: #f4f3fe;
  z-index: 9999;
}


.title {
  position:absolute;
  top: 0.75rem;
  left: 0.9rem;
  margin: 0.8rem;
  font-size: 1.8rem;
  background: linear-gradient(175deg, #f7a3a1 50%, #ffee00 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar ul {
  margin: 0 1rem;
  padding-top: 1.3rem;
  list-style-type: none;
  text-align: right;
}

.navbar ul a {
  color:#8a718d;
  text-decoration:none;
  font-weight: 300;
}

.navbar ul a:hover {
  color:#BE68F8;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
}

.navbar li {
  color: #8a718d;
  display: inline;
  margin: 0 15px;
}






.container {
  display: flex;
}


.sticky + .container {
  padding-top: 60px;
}

.title {
}

.center {
  width: 60%;
}

.menu {
  right: 0;
  width: 10%;
  margin: 0.8rem;
  font-size: 1.3rem;
  color: rgb(28, 25, 25);
}
